<h5>Dashboard</h5>
<h3>Welcome <%= name %></h3>
<% if(stories.length<1) { %>
<h6  class="nostories" style="
font-weight: bold;
">You have not created any stories.Click on add button at bottom right corner to create new stories</h6>
<% }else { %>
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date/Time</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% stories.forEach(function(story){ %>
                <tr>
                <td><a href="/stories/<%= story._id %>" ><%= story.title %></a></td>
                    <td><%- helper.formatDate(story.createdAt,'MMMM Do YYYY, h:mm:ss a') %></td>
                    <td><span class="dash-status"><%= story.status %></span></td>
                    <td>
                        <a href="/stories/edit/<%= story._id %>" 
                        class="btn btn-float"> <i class="fas fa-edit"></i>
                        </a>
                       <form action="/stories/<%= story._id %>" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button  type="submit" class="btn red">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                    </td>
            <% }) %>
        </tbody>
    </table>
<% } %>